:root {
    --bg-color: hsl(0, 0%, 8%);
    --cd-color: hsl(0, 0%, 12%);
    --btn-color: hsl(0, 0%, 20%);
    --green-color: hsl(75, 94%, 55%);
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.card {
    width: 20vw;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: center;
    background-color: var(--cd-color);
    border-radius: 20px;
    max-height: 70vh;
    
   
}

.p-cnt {
    display: flex;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-height: 220px;
    
}

.l-cnt {

    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1;
    gap: .8rem;
    overflow-y: auto;
    align-items: center;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin-inline-start: 0;

}

.l-cnt::-webkit-scrollbar {
    display: none;

}

.btns {
    width: 92%;
    padding: 0.8rem .8rem .8rem .8rem;
    background-color: var(--btn-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    
}
.btns a {
    color: white;
    text-decoration: none;
    text-align: center;
    
}

.btns:hover {
    background-color: var(--green-color);
    color: black;
}

.p-pic {

    width: 100px;
    height: 100px;
    background-image: url('avatar.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-block-start: 14px;

}

.p-cnt h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

.p-cnt h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--green-color);
    margin: 0;
    font-size: small;
    text-align: center;
}

.p-cnt p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(183, 183, 184);
    margin: 0;
    text-align: center;
    margin-block-start: auto;
}


@media (max-width: 480px) {
    .card {
        width: 55dvw;
    }
    .btns {
        padding: .7rem .7rem .7rem .7rem;
        font-size: 1.2rem;
        flex: 1;

    }
}

/*tab*/
@media (max-width: 780px) {
    .card {
        width: 70dvw;
    }

    .btns {
        padding: clamp(1rem 1rem 1rem 1rem);
        font-size: 1.2rem;
        flex: 1;

    }
}



