
/*RESET*/
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: hsl(0, 0%, 8%);
    --cd-color: hsl(0, 0%, 12%);
    --btn-color: hsl(0, 0%, 20%);
    --green-color: hsl(75, 94%, 55%);
}
body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}
.card {
    width: clamp(15vw, 26vw, 30vw);
    padding: 2rem 2rem 2rem 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: center;
    background-color: var(--cd-color);
    border-radius: 20px;
}
.p_cnt {
    display: flex;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-height: 220px; 
}
.l_cnt {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1;
    gap: .8rem;
    align-items: center;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin-inline-start: 0;
}
.l-cnt::-webkit-scrollbar {
    display: none;
}
.btns {
    width: 92%;
    padding: 0.8rem .8rem .8rem .8rem;
    background-color: var(--btn-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.btns a {
    color: white;
    text-decoration: none;
    text-align: center;
    
}

.btns:hover {
    background-color: var(--green-color);
    color: black;
}

.p_pic {

    width: 100px;
    height: 100px;
    background-image: url('avatar.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-block-start: 14px;

}

.card_name {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    font-size: clamp(.5rem, 1.5rem, 2rem);
}

.card_address {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--green-color);
    margin: 0;
    font-size: small;
    text-align: center;
}

.card_bio {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(183, 183, 184);
    margin: 0;
    text-align: center;
    margin-block-start: auto;
}


@media screen and (orientation: landscape) and (max-width: 992px){
    body {
        height: auto;
    }
    .card {
        width: 35vw;
    }
}
@media (max-width: 480px) {
    .card {
        width: 55dvw;
    }
    .btns {
        padding: .7rem .7rem .7rem .7rem;
        font-size: 1.2rem;
        flex: 1;

    }
}


/*tab*/
@media (max-width: 780px) {
    .card {
        width: 70dvw;
    }

    .btns {
        padding: clamp(1rem 1rem 1rem 1rem);
        font-size: 1.2rem;
        flex: 1;

    }
}
